# List of untracked files to ignore
old
*.pptx

# IDE folders and files
.vscode/
*.asv
*.m~

# System files
desktop.ini
.DS_Store
.bash_profile

# Unit test / coverage reports
htmlcov/

# Build
-lang*
paramonte_out/
codegen/
*.mexa64
*.mexw64
*.mlappinstall
*.mltbx
_build/
docs/build/
docs/.buildinfo
docs/*.inv