# List of untracked files to ignore
old
*.pptx

# IDE folders and files
.vscode/
*.asv
*.m~

# System files
desktop.ini
.DS_Store

# Unit test / coverage reports
htmlcov/

# Build
_build/
-lang
codegen/
*.mexa64
*.mexw64
*.mlappinstall
*.mltbx
